<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css\style.css">
        <link rel="stylesheet" href="metroui\css\metro-icons.css">
        <link rel="stylesheet" href="metroui\css\metro.min.css">
        <title>bookingSystem</title>
    </head>

    <body>
    <br>
    <br>
    <div id="root">
        <div class="container">
            <h1 class="fleft">Lista de atrações</h1>
            <button class="fright addNew lfloat button primary outline" @click="showingAddModal = true;">
                <span class="mif-plus"></span> Add nova atração
            </button>
            <!--<button class="fright addNew lfloat bottom button outline" @click="showingAddModal = true;">-->
                <!--<span class="icon mif-rocket"></span> Gerar relatorio-->
            <!--</button>-->
            <div class="clear border-bottom"></div>
            <hr>
            <p class="errorMessage" v-if="errorMessage">
                {{errorMessage}}
            </p>

            <p class="successMessage" v-if="successMessage">
                {{successMessage}}
            </p>

            <table class="list">
                <thread>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Local</th>
                        <th>Preço</th>
                        <th>Duração</th>
                        <th>Ações</th>
                    </tr>
                </thread>

                <tbody>
                <tr v-for="user in users">
                    <td>{{user.id}}</td>
                    <td>{{user.nome}}</td>
                    <td>{{user.data}}</td>
                    <td>{{user.local}}</td>
                    <td>{{user.valor}}</td>
                    <td>{{user.duracao}}</td>
                    <td>
                        <button class="button warning outline" @click="showingEditModal = true; selectUser(user)">Editar</button>

                        <button class="button info outline" @click="showingDeleteModal = true; selectUser(user)">Reservar</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <!--<button class="rfloat button primary outline" @click="showingAddModal = true;">-->
            <!--<span class="mif-plus"></span> Add nova atração-->
        <!--</button>-->
        <!-- MODAL -->
        <div class="modal" id="addModal" v-if="showingAddModal">
            <div class="modalContainer">
                <div class="modalHeading">
                    <p class="fleft">Add nova atração</p>
                    <button class="fright close" @click="showingAddModal = false;">x</button>
                    <div class="clear"></div>
                </div>
                <div class="modalContent">
                    <div class="dialog-content">
                        <div id="dvForm" class="grid">
                            <div class="row margin-top">
                                <div class="cell-12">
                                    <div class="form-group">
                                        <label>Nome da atração</label>
                                        <input type="text" placeholder="Nome" v-model="newUser.username">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row margin-top">
                                <div class="cell-12">
                                    <div class="form-group">
                                        <label>Local</label>
                                        <input type="text" placeholder="Local" v-model="newUser.email">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row margin-top">
                                <div class="cell-12">
                                    <div class="form-group">
                                        <label>Duração (min)</label>
                                        <input type="number" placeholder="Duração" v-model="newUser.duracao">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row margin-top">
                                <div class="cell-12">
                                    <div class="form-group">
                                        <label>Valor</label>
                                        <input type="number" placeholder="R$" v-model="newUser.local"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="delete button alert outline" @click="showingDeleteModal = false; deleteUser()">Salvar</button>
                    <button class="delete button info outline" @click="showingAddModal = false;">Cancelar</button>
                </div>
            </div>
        </div>

        <!--<div class="modal" id="editModal" v-if="showingEditModal">-->
            <!--<div class="modalContainer">-->
                <!--<div class="modalHeading">-->
                    <!--<p class="fleft">Edit This Atracao</p>-->
                    <!--<button class="fright close" @click="showingEditModal = false;"><x></x></button>-->
                    <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="modalContent">-->
                    <!--<div class="dialog-content">-->
                        <!--<div id="edForm" class="grid">-->
                            <!--<div class="row margin-top">-->
                                <!--<div class="cell-12">-->
                                    <!--<div class="form-group">-->
                                        <!--<label>Nome da atração</label>-->
                                        <!--<input type="text" placeholder="Nome" v-model="newUser.username">-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<br>-->
                            <!--<div class="row margin-top">-->
                                <!--<div class="cell-12">-->
                                    <!--<div class="form-group">-->
                                        <!--<label>Local</label>-->
                                        <!--<input type="text" placeholder="Local" v-model="newUser.email">-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<br>-->
                            <!--<div class="row margin-top">-->
                                <!--<div class="cell-12">-->
                                    <!--<div class="form-group">-->
                                        <!--<label>Valor</label>-->
                                        <!--<input type="number" placeholder="Valor" v-model="newUser.local"></span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<br>-->
                            <!--<div class="row margin-top">-->
                                <!--<div class="cell-6">-->
                                    <!--<div class="form-group">-->
                                        <!--<label>Data</label>-->
                                        <!--<input type="date" placeholder="Valor" v-model="newUser.local">-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="modal" id="deleteModal" v-if="showingDeleteModal">
            <div class="modalContainer">
                <div class="modalHeading">
                    <p class="fleft">Você tem certeza disso?</p>
                    <button class="fright close" @click="showingDeleteModal = false;">x</button>
                    <div class="clear"></div>
                </div>
                <div class="modalContent delete">
                    <p>Você está prestes a deletar '{{clickedUser.username}}'.</p>
                    <br>
                    <p>Deseja concluir está ação?</p>
                    <br><br>
                    <button class="delete button alert outline" @click="showingDeleteModal = false; deleteUser()">Sim</button>
                    <button class="delete button info outline" @click="showingDeleteModal = false;">Não</button>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="metroui/js/metro.min.js" charset="utf-8"></script>

    <script src="js/vue.js" charset="utf-8"></script>
    <script src="js/axios.min.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
    </body>
</html>
